{% extends "polls/base.html" %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    <form action="{% url 'polls:vote' question.id %}" method="post" class="form">
    {% csrf_token %}
        <div class="form-group">
        {% for choice in question.choice_set.all %}
        <div class="radio">
            <label for="choice{{ forloop.counter }}">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                {{ choice.choice_text }}
            </label>
        </div>
        {% endfor %}
        </div>
    <input type="submit" value="Vote" class="btn btn-primary"/>
    </form>

{% endblock %}
